package testgousage

import "fmt"

const a = "a"
const b = "b"
const c = "c"
var items = [...]int{1,2,3}

func ab() string {
	return `"ab"`
}

gotempl Package() {
	/*
  Package testgousage.
  */
	package testgousage
	// comment
  // rawgo syntax in other templates not experimental anymore.
  // can remain the same in gotempl expressions for consistency
  {{ first := items[0] }}
  // {{ // will only support range in for }}
	{{ for _, i := range items }}
		{ fmt.Sprintf("%s--%s",ab(), first) }
    // {{ if }}
    // {{ else if }}
    // {{ else }}
    // {{ end }}
    // {{ // probably not worth it to implement switch }}
		// {{ switch i }}
		// 	{{ case 1 }}
    //     // comment for a
		// 		{ a }
		// 	{{ case 2 }}
    //     // comment for b
		// 		{ b }
		// {{ end }}
	{{ end }}
  for i := 0; i < 3; i++ {
    println("z")
  }
}

// Combine all tests.
templ TestComponent() {
	@Package()
}
